@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins:wght@200;300&display=swap');

body{
	font-family: 'Poppins';
	font-size: 9.7pt;
	line-height: 1.40em;
	background-color: rgb(50, 50, 50);
	width: 1333px; 
	height: 750px;
}

/*##########################################################*/

#header{
	margin-bottom: 15px;
}

#header .cefetLogo{
	margin-left: 15px;
}

#header .cefetLogo img{
	height: 60.33px;
	width: 173.37px;
}

#header .nfShield{
	margin-left: 1265px;
	margin-top: -84px;
}

#header .nfShield img{
	height: 67.33px;
	width: 67.33px;
}

#header .title{
	background-color: rgb(255, 255, 255);
	padding-bottom: 8px;
	padding-top: 8px;
	margin: -69.5px -8px 1em -8px;
	font-size: 10.8pt;
	text-align: center;
	text-transform: uppercase;
}

/*##########################################################*/

.picGiovanni{
	margin-top: 0px;
	margin-left: 15px;
}

.picGiovanni img{
	height: 385px;
	width: 385px;
}

/*##########################################################*/

#text{
	margin-left: 412px;
	margin-right: 412px;
	margin-top: -390px;
	padding-bottom: 25px;
	background-color: rgb(255, 255, 255);
}

#text .details{
	padding: 15px;
}

#text .details h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 5px ;
}

#text .details a{
	color:  rgb(1, 155, 222);
	text-decoration: none;
}

#text .details a:hover{
	color: rgb(225, 0, 0);
	font-weight: 900;
}

#text .details p{
	line-height: 17px;
	margin-bottom: -5px;
}

#text .citation{
	margin-top: 37px;
	padding-left: 15px;
}

/*##########################################################*/

.pcCode{
	margin-left: 932px;
	margin-top: -384px;
}

.pcCode img{
	height: 385px;
	width: 400px;
}

/*##########################################################*/

.line hr{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*##########################################################*/

#browse {
	background-color: rgb(255, 255, 255);
	padding: 15px;
}

#browse h3 {
	font-size: 2em;
	text-align: center;
}

#browse .projectList h4{
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
}

#browse .projectList{
	padding-bottom: 2px;
	text-align: center;
}
#browse .projectList ul{
	list-style: none;
	text-decoration: none;
	margin-left: -40px;
}

#browse .projectList a{
	text-decoration: none;
	color: rgb(1, 155, 222);
}

#browse .projectList a:hover{
	color: rgb(225, 0, 0);
	font-weight: 900;
}

/*##########################################################*/

footer{
	margin-top: 25px;
	padding: 15px;
	color: rgb(255, 255, 255);
}
