body {
    font-family: 'Afacad', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('../style/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    backdrop-filter: blur(1.5px);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #005b96, #01395f);
    color: #fff;
    padding: 10px 20px;
    border-bottom: 3px solid #043b5f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

#header .cefetLogo img {
    height: 75px;
    border: 2px solid #003f69;
    border-radius: 8px;
    max-width: 100%;
}

#header .nfShield img {
    height: 100px;
    max-width: 100%;
}

#header .title {
    text-align: center;
    flex: 1;
    padding: 10px;
}

#header .title h2 {
    margin: 0;
    font-size: 61px;
}

#text {
    font-size: 18.8px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

#text .details {
    flex: 1;
    margin-right: 20px;
}

#text .picGiovanni {
    flex-shrink: 0;
}

#text .picGiovanni img {
    margin-left: 50px;
    border-radius: 15px;
    width: 450px;
    height: auto;
    border: 2px solid #005b96;
    max-width: 100%;
}

#text h3 {
    font-size: 38px;
    color: #005b96;
    margin-top: -6px;
}

#text a {
    color: #005b96;
    text-decoration: none;
}

#text a:hover {
    text-decoration: underline;
}

.line hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 40px 0;
}

#browse {
    font-size: 18.8px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

#browse h3 {
    font-size: 38px;
    color: #005b96;
    margin-top: -6px;
}

.projectList ul {
    list-style: none;
    padding: 0;
}

.projectList li {
    margin: 10px 0;
}

.projectList a {
    color: #005b96;
    text-decoration: none;
}

.projectList a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    background-color: rgba(0, 91, 150, 0.9);
    color: #fff;
    margin-top: 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    width: 30%;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffa500;
}


/* ############################################################################### */

@media screen and (max-width: 980px) {
    body {
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 736px) {
    #header .title h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 980px) {
    #text {
        font-size: 14px;
        flex-direction: column;
        padding: 20px;
        margin: 10px;
    }
    #text .details {
        margin-right: 0;
        margin-bottom: 20px;
    }
    #text .picGiovanni img {
        width: 100%;
        display: block;
        margin: 25px auto;
    }
    #text h3 {
        font-size: 50px;
        color: #005b96;
        margin-top: -6px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    #header {
        padding: 10px 50px;
    }

    #text,
    #browse {
        margin: 40px auto;
        max-width: 1320px;
    }
}

@media screen and (max-width: 980px) {
    #text,
    #browse {
        margin: 10px;
    }

    #browse {
        font-size: 33px;
    }

    #browse h3 {
        font-size: 50px;
    }
}

@media screen and (max-width: 980px) {
    footer {
        font-size: 18px;
    }
    
    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
}
