@import url("https://fonts.googleapis.com/css?family=Cinzel");

html, body, div, h1, h2, h3, p, a, ol, ul, li, 
footer, header, nav, section {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	padding: 0;
	border: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
}

/*##########################################################*/

body {
	-webkit-text-size-adjust: none;
	color: rgb(0,0,0);
	font-size: 08.9pt;
	font-family: 'Cinzel';
	line-height: 1.85em;
	background: url("images/wallpaper439.jpg");
	background-size: 5520px;
}

@media screen and (max-width: 2180px) {
	body {
		zoom: 125%;
	}
}

@media screen and (max-width: 1680px) {
	body {
		background-size: 1620px;
	}
}

@media screen and (max-width: 1280px) {
	body {
		background-size: 1620px;
	}
}

@media screen and (max-width: 980px) {
	body {
		background: url("images/wallpaper439Cell.jpg");
		background-size: 980px;
	}
}

@media screen and (max-width: 736px) {
	body {
		background: url("images/wallpaper439Smart.jpg");
		background-size: 990px;
	}
}

/*##########################################################*/

footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

ul, ol, p{	
	margin: 0 0 2em 0;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/*##########################################################*/

.navigation {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

@media screen and (max-width: 1680px) {
	.navigation {
		width: 1200px;
	}
}

@media screen and (max-width: 1280px) {
	.navigation {
		width: calc(100% - 40px);
	}
}

@media screen and (max-width: 980px) {
	.navigation {
		width: calc(100% - 50px);
	}
}

@media screen and (max-width: 736px) {
	.navigation {
		width: calc(100% - 40px);
	}
}

/*##########################################################*/

.col01 #img01 img {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.col01 #img02 img {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

@media screen and (max-width: 1680px) {
	.col01 #img01 img{
		width: 224px;
		height: 224px;
	}
	.col01 #img02 img{
		width: 224px;
		height: 224px;
	}
}

@media screen and (max-width: 1280px) {
	.col01 #img01 img{
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}
	.col01 #img02 img{
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}
}

@media screen and (max-width: 980px) {
	.col01 #img01 img{
		width: calc(100% - 50px);
		height: calc(100% - 50px);
	}
	.col01 #img02 img{
		width: calc(100% - 50px);
		height: calc(100% - 50px);
	}
}

@media screen and (max-width: 736px) {
	.col01 #img01 img{
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}
	.col01 #img02 img{
		width: calc(100% - 40px);
		height: calc(100% - 40px);
	}
}

/*##########################################################*/

.rowBar {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
	margin-top: -25px;
	margin-left: -25px;
}

.rowBar > * {
	box-sizing: border-box;
	padding: 25px 0 0 25px;
}

.rowBar > .col01 {
	width: 25%;
}

.rowBar > .col02 {
	width: 33.33333%;
}

.rowBar > .col03 {
	width: 66.66667%;
}

.rowBar > .col04 {
	width: 75%;
}

.rowBar > .col05 {
	width: 100%;
}
			
@media screen and (max-width: 1680px) {
	.rowBar {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -25px;
		margin-left: -25px;			
	}

	.rowBar > * {
		box-sizing: border-box;
		padding: 25px 0 0 25px;
	}

	.rowBar > .col01-xlarge {
		width: 25%;
	}

	.rowBar > .col02-xlarge {
		width: 33.33333%;
	}

	.rowBar > .col03-xlarge {
		width: 66.66667%;
	}

	.rowBar > .col04-xlarge {
		width: 75%;
	}

	.rowBar > .col05-xlarge {
		width: 100%;
	}
}

/*##########################################################*/

@media screen and (max-width: 1280px) {
	.rowBar {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -20px;
		margin-left: -20px;
	}

	.rowBar > * {
		box-sizing: border-box;
		padding: 20px 0 0 20px;
	}

	.rowBar > .col01-large {
		width: 25%;
	}

	.rowBar > .col02-large {
		width: 33.33333%;
	}

	.rowBar > .col03-large {
		width: 66.66667%;
	}

	.rowBar > .col04-large {
		width: 75%;
	}

	.rowBar > .col05-large {
		width: 100%;
	}

}

/*##########################################################*/

@media screen and (max-width: 980px) {
	.rowBar {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -25px;
		margin-left: -25px;
	}

	.rowBar > * {
		box-sizing: border-box;
		padding: 25px 0 0 25px;
	}

	.rowBar > .col01-medium {
		width: 25%;
	}

	.rowBar > .col02-medium {
		width: 33.33333%;
	}

	.rowBar > .col03-medium {
		width: 66.66667%;
	}
	
	.rowBar > .col04-medium {
		width: 75%;
	}

	.rowBar > .col05-medium {
		width: 100%;
	}
}

/*##########################################################*/

@media screen and (max-width: 736px) {
	.rowBar {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
		margin-top: -20px;
		margin-left: -20px;
	}

	.rowBar > * {
		box-sizing: border-box;
		padding: 20px 0 0 20px;
	}

	.rowBar > .col01-small {
		width: 25%;
	}

	.rowBar > .col02-small {
		width: 33.33333%;
	}

	.rowBar > .col03-small {
		width: 66.66667%;
	}

	.rowBar > .col04-small {
		width: 75%;
	}

	.rowBar > .col05-small {
		width: 100%;
	}
}

/*##########################################################*/

.links li {
	padding: 0.2em 0 0.2em 0;
}

.links li:bottom {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

#header {
	position: relative;
	background-color: rgb(80, 44, 44);
	border-bottom: solid 1px #272d30;
	box-shadow: inset 0px -1px 0px 0px #51575a;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

#header > .navigation {
	position: relative;
	min-height: 155px;
}

#header h1 {
	position: absolute;
	left: 0;
	bottom: 35px;
	font-size: 2.75em;
	color: #fff;
	text-decoration: none;
}

#header nav {
	position: absolute;
	right: 0;
	bottom: 35px;
	font-weight: 200;
}

#header nav a {
	color: rgb(220, 220, 220);
	text-decoration: none;
	font-size: 1.4em;
	margin-left: 60px;
	outline: 0;
}

#header nav a:hover {
	color: #fff;
}

.paging #header > .navigation {
	height: 155px;
}

#content {
	font-size: 1.1em;
	background-color: rgb(250, 250, 290);
	border-top: solid 1px #fff;
	padding: 45px 0 45px 0;
}

#content section {
	background: #fff;
	padding: 40px 30px 45px 30px;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	margin: 0 0 25px 0;
}

#content h2 {
	font-size: 1.8em;
	color: #373f42;
	margin: 0 0 0.25em 0;
}

#content h3 {
	color: #96a9b5;
	font-size: 1.25em;
}

#content a {
	color: #ED391B;
}

#content header {
	margin: 0 0 2em 0;
}

#content .links li {
	border-bottom: solid 1px #e2e6e8;
}

#footer {
	padding: 45px 0 45px 0;
	text-shadow: 1px 1px 1px white;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

#footer h2 {
	font-size: 1.35em;
	text-shadow: 1px 1px 1px white;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	margin: 0 0 1em 0;
}

#footer h3 {
	font-size: 1.35em;
	text-shadow: 1px 1px 1px white;
	color: rgb(0,0,0);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	margin: 0 0 1em 0;
}

#footer a {
	text-shadow: 1px 1px 1px white;
	color: rgb(0,0,0);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

#footer .links li {
	border-top: solid 1px #e0e4e6;
	border-bottom: solid 1px #b5bec3;
}

#navPanel, #titleBar {
	display: none;
}

/*##########################################################*/

@media screen and (max-width: 1280px) {
	#header h1 {
		font-size: 2.25em;
	}

	#header nav a {
		font-size: 1.1em;
	}

	#content h2 {
		font-size: 1.4em;
	}

	#content h3 {
		font-size: 1.1em;
	}

	#content header {
		margin: 0 0 1.25em 0;
	}
}

/*##########################################################*/

@media screen and (max-width: 980px) {
	html, body {
		overflow-x: hidden;
	}

	#header {
		text-align: center;
	}

	#header > .navigation:first-child {
		display: none;
	}

	#content {
		padding: 25px 0;
	}

	#pageCasing {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		padding-bottom: 1px;
		padding-top: 44px;
	}

	#titleBar {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 44px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		color: #fff;
		background-color: rgb(80, 44, 44);
		text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
	}

	#titleBar .title {
		display: block;
		text-align: center;
		font-size: 1.05em;
		font-weight: 400;
		line-height: 48px;
	}

	#titleBar .toggle {
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 60px;
	}

	#titleBar .toggle:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 30px;
		background: url("images/mobileUI-site-nav-opener-bg.svg");
		top: 15px;
		left: 20px;
		z-index: 1;
		opacity: 0.25;
	}

	#titleBar .toggle:after {
		content: '';
		display: block;
		position: absolute;
		top: 6px;
		left: 6px;
		color: #fff;
		background-color: rgb(250, 250, 290);
		box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05), inset 0px -8px 10px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		text-shadow: -1px -1px 1px black;
		width: 49px;
		height: 31px;
		border-radius: 8px;
	}

	#titleBar .toggle:active:after {
		background-color: rgb(80, 44, 44);
	}

	#navPanel {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		display: block;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 275px;
		z-index: 10002;
		background-color: rgb(80, 44, 44);
		box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -2px 0px 25px 0px rgba(0, 0, 0, 0.5);
		text-shadow: -1px -1px 1px black;
		-moz-transform: translateX(-275px);
		-webkit-transform: translateX(-275px);
		-ms-transform: translateX(-275px);
		transform: translateX(-275px);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
	}

	#navPanel .link {
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 1.05em;
		line-height: 2em;
		padding: 0.625em 1.5em 0.325em 1.5em;
		border-top: solid 1px #373d40;
		border-bottom: solid 1px rgba(0, 0, 0, 0.4);
	}

	#navPanel .link:first-child {
		border-top: 0;
	}

	#navPanel .link:bottom {
		border-bottom: 0;
	}

	body.navPanel-visible #pageCasing {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.navPanel-visible #titleBar {
		-moz-transform: translateX(275px);
		-webkit-transform: translateX(275px);
		-ms-transform: translateX(275px);
		transform: translateX(275px);
	}

	body.navPanel-visible #navPanel {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

/*##########################################################*/

@media screen and (max-width: 736px) {
	body{
		font-size: 11pt;
		line-height: 1.4em;
	}

	.links li {
		padding: 0.75em 0 0.75em 0;
	}

	#content section {
		padding: 30px 20px;
	}

	#content h2 {
		font-size: 1.25em;
	}

	#content h3 {
		font-size: 1em;
	}

	#content header {
		margin: 0 0 1.25em 0;
	}

	#footer .links {
		margin: 0 0 10px 0 !important;
	}

}
