/** caso não role tire o viewport 
 * e coloque isso no body width: 1333px; height: 750px
 * 
 * <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
 * 
 *@viewport{
  width: device-width;
  zoom: 1;
}
**/

body{
	font-family: courier;
	background-color: rgb(250, 250, 290);
	width: 1333px; 
	height: 750px;
}

.title{
	background-color: rgb(44, 44, 44);
	text-align: center;
	padding: 8.5px;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
	color: white;
}

.title h1{
	font-size: 1.9em;
	text-transform: uppercase;
}

header a{
	color:  rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
}

header li{
	float: left;
	width: 240px;
	text-align: center;
	list-style: none;
	padding:  7px 40.5px;
	font-size: 0.9em;
	background-color: rgb(170, 170, 150);
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 52.5px;
	margin-top: -10px;
}

header ul{
	padding-left: 0px;
	text-align: center;
}

.subtitle{
	background-color: rgb(44, 44, 44);
	text-align: center;
	margin-top: 58.5px;
	margin-right: -8px;
	margin-left: -8px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	color: white;
	text-transform: uppercase;
	font-size: 0.95em;
}

.SkyrimLogo img{
	float: left;
	padding-top: 3px;
	padding-left: 10px;
	width: 635px;
	height: auto;
}

.definition{
	color: black;
	background-color: rgba(187,221,230,255);
	margin-left: 650px;
}

.definition p, h3{
	margin: 15px;
	padding-top: 3.2px;
	padding-bottom: 3.2px;
}

.definition h3{
	text-transform: uppercase;
}

.definition p{
	font-size: 0.989em;
}

.definition a{
	color: rgba(230,3,7,255);
}

.SkyrimImage img{
	width: 1315px;
	height: auto;
}

.text{
	color: black;
	text-shadow: 1px 2px 2.5px white;
	font-size: 1.1em;
	position: absolute;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 22px;
	max-width: 1298px ;
}

.gameplay button{
	background-color: rgba(79,83,82,255);
	text-decoration: uppercase;
	color: white;
	border: none;
	margin: 5px;
	padding: 10px;
	font-family: courier;
	font-size: 0.9em;
}

.gameplay a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 1.2em;
}