body{
	font-family: Verdana;
	width: 1333px; 
	height: 750px;
}

.title{
	background-color: black;
	color:  white;
	text-transform: uppercase;
	font-size: 0.97em;
	padding: 5px;
}

.subtitle li{
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	float: left;
	padding: 10px;
	text-align: center;
	background-color: black;
	color: white;
}

.subtitle ul{
	padding-left: 1px;
}

.tasks ul{
	margin-top: 70px;
}

.tasks li{
	padding-bottom: 12px;
	padding-top: 12px;
}
