/** caso não role tire o viewport 
 * e coloque isso no body width: 1333px; height: 750px
 * 
 * <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
 * 
 *@viewport{
  width: device-width;
  zoom: 1;
}
**/

body{
	font-family: courier;
	background-color: rgb(250, 250, 290);
	width: 1333px; 
	height: 750px;
}

.title{
	background-color: rgb(44, 44, 44);
	text-align: center;
	padding: 8.5px;
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
	color: white;
}

.title h1{
	font-size: 1.9em;
	text-transform: uppercase;
}

header a{
	color:  rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
}

header li{
	float: left;
	width: 240px;
	text-align: center;
	list-style: none;
	padding:  7px 40.5px;
	font-size: 0.9em;
	background-color: rgb(170, 170, 150);
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 52.5px;
	margin-top: -10px;
}

header ul{
	padding-left: 0px;
	text-align: center;
}

.subtitle{
	background-color: rgb(44, 44, 44);
	text-align: center;
	margin-top: 58.5px;
	margin-right: -8px;
	margin-left: -8px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	color: white;
	text-transform: uppercase;
	font-size: 0.95em;
}

.img01 img{
	float: left;
	padding-top: 15px;
	padding-left: 1px;
	width: 650px;
	height: auto;

}

.img02 img{
	float: right;
	padding-top: 15px;
	padding-right: 1px;
	width: 648px;
	height: auto;

}

.img01_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top:  515px;
	margin-left: 1px;
	margin-right: 680px;
}

.img01_CLASS #img01_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}

.img02_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top: -22px;
	margin-left: 685px;
	margin-right: 1px;
	
}

.img02_CLASS #img02_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}


/** **/
/** **/
/** **/

.separator01{
	background-color: rgb(44, 44, 44);
	margin-top: 25px;
	margin-right: -8px;
	margin-left: -8px;
	padding-top: -1px;
	padding-bottom: -1px;
}

.separator01 h2{
	color: white;
	font-size: 1.4em;
	text-transform: uppercase;
	text-align: center;
}

.img03 img{
	float: left;
	padding-top: 15px;
	padding-left: 1px;
	width: 650px;
	height: auto;
}

.img04 img{
	float: right;
	padding-top: 15px;
	padding-right: 1px;
	width: 648px;
	height: auto;
}

.img03_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top:  535px;
	margin-left: 1px;
	margin-right: 680px;
}

.img03_CLASS #img03_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}

.img04_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top: -22px;
	margin-left: 685px;
	margin-right: 1px;
	
}

.img04_CLASS #img04_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}


/** **/
/** **/
/** **/

.separator02{
	background-color: rgb(44, 44, 44);
	margin-top: 25px;
	margin-right: -8px;
	margin-left: -8px;
	padding-top: -1px;
	padding-bottom: -1px;
}

.separator02 h2{
	color: white;
	font-size: 1.4em;
	text-transform: uppercase;
	text-align: center;
}

.img05 img{
	float: left;
	padding-top: 15px;
	padding-left: 1px;
	width: 650px;
	height: auto;
}

.img06 img{
	float: right;
	padding-top: 15px;
	padding-right: 1px;
	width: 648px;
	height: auto;
}

.img05_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top:  535px;
	margin-left: 1px;
	margin-right: 680px;
}

.img05_CLASS #img05_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}

.img06_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top: -22px;
	margin-left: 685px;
	margin-right: 1px;
	
}

.img06_CLASS #img06_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}

/** **/
/** **/
/** **/

.separator03{
	background-color: rgb(44, 44, 44);
	margin-top: 25px;
	margin-right: -8px;
	margin-left: -8px;
	padding-top: -1px;
	padding-bottom: -1px;
}

.separator03 h2{
	color: white;
	font-size: 1.4em;
	text-transform: uppercase;
	text-align: center;
}

.img07 img{
	float: left;
	padding-top: 15px;
	padding-left: 1px;
	width: 650px;
	height: auto;
}

.img08 img{
	float: right;
	padding-top: 15px;
	padding-right: 1px;
	width: 648px;
	height: auto;
}

.img07_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top:  535px;
	margin-left: 1px;
	margin-right: 680px;
}

.img07_CLASS #img07_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
	
}

.img08_CLASS{
	background-color: rgb(170, 170, 150);
	color:  black;
	margin-top: -22px;
	margin-left: 685px;
	margin-right: 1px;
	
}

.img08_CLASS #img08_SUB{
	padding-left: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	text-align: center;
}