body {
    font-family: Afacad;
    background-color: #f0f0f0; 
    color: #333;
    margin: 0;
    padding: 0;
}

.projectList {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 17px;
}

.projectList h1 {
    margin-bottom: 15px;
    color: #005b96; 
}

.projectList p {
    margin-bottom: 15px;
}

.projectList ul {
    list-style-type: none;
    padding: 0;
}

.projectList li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
    font-size: 15px;
}

footer a {
    color: #005b96; 
}
