* {
	font-family: fantasy, Verdana, sans-serif;
}

body {
	background-color: darkgrey;
	color: #fff;
}

header {
	margin:30px 0;
}

header h1 {
	text-transform: uppercase;
	font-weight: normal;
	display: inline;
	font-size: 2.2em;
	margin:0;
}

header span {
	color: rgb(0, 171, 230);
}

header nav {
	float: right;
}

header ul {
	list-style: none;
	margin: 10px 0 0 0;
}

header li {
	display: inline;
	margin:0px 8px;
}

header a {
	color: #fff;
	text-decoration: none;
}

.central, main {
	width: 1200px;
	margin:0 auto;
}

main {
	background-color: white;
	padding-top: 10px;
	color: black;
	box-sizing: border-box;
}

section {
	margin: 12px;
}

#logotype {
	width: 770px;
	position: relative;
	color: darkblue;
	margin-bottom: 20px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#logotype img {
	width: inherit;
	height: 350px;
	border: 2em;
	float: right;
}

#logotype div {
	position: absolute;
	top: 80px;
	left: 50px;
}

#logotype h1 {
	text-transform: uppercase;
	font-size: 3.5em;
	margin: 0;
	font-weight: normal;
}

#logotype p {
	width: 320px;
}

.sideImage {
	float : right;
}

.button {
	background-color: rgb(0, 189, 234);
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 5px;
}

.destaque {
	background-color: rgb(0, 119, 165);
	color: #fff;
}

.col-2 {
	width: 509px;
	float: left;
	padding-top: 15px;
}

.foto h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding-top: 15.2em;
}

.foto img {
	float: left;
	width: 246px;
	margin-right: 18px;
	margin-bottom: 58px;
}

.foto p {
	font-size: 0.8em;
}

#nav-bottom {
	background-color: black ;
	clear: left;
	width: inherit;
	box-sizing: border-box;
	tex black;
	padding: 5px;
}

#nav-bottom li {
	display: inline;
	list-style: none;
	padding: 5px;
}
#nav-bottom a {
	color:  hotpink;
}

.content-left {
	color: black;
}

.caixa01, .caixa02, .caixa03 {
	float: left;
	width: 246px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 0.8em;
	min-height: 230px;
	position: relative;
}

.caixa01, .caixa02, .caixa03 h3 {
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: normal;
}

.caixa01, .caixa02, .caixa03 blockquote {
	margin: 0;
	margin-top: 20px;
	font-style: italic;
	font-size: 1.2em;
	background-color: rgb(211, 240, 254);
	padding: 20px;
	width: 200px;
}
