body{
	margin: 0;
	font-family: sans-serif;
}

header{
	background-color: darkcyan;
	padding-top: 30px;
	padding-bottom: 80px;
	margin: 15px;
	margin-top: 35px;
}

header h1{ 
	margin: 25px;
	color: white;
	text-align: left;
	padding-left: 35px;
	padding-bottom: 15px;
	font-size: 3em;
}

header a{
	width: 700px;
	margin: 0 auto;
	position: relative;
	color:  white;
	text-transform: uppercase;
	text-decoration: none;
}

header li{
	float: left;
	width: 100px;
	text-align: center;
	list-style: none;
	padding:  7px 15px;
	font-size: 0.9em;
}

header ul{
	padding-left: 0px;
	text-align: center;
}

header li{
	background-color: mediumaquamarine;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 15px;
}

section {
	width: 900px;
	margin: auto;
}

.designed{
	color: white;
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.subtitle{
	background-color: rgb(220, 220, 220);
	color: rgb(15, 15, 15);
	text-align: center;
	margin:  15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: auto;
}

.subtitle strong{
	color: mediumaquamarine;
	text-decoration: underline;
}

.subtitle p{
	font-size: 0.85em;
	margin: 58px;

}

.subtitle h2{
	font-size: 2.2em;
}


#marca{
	font-size: 5em;
}

.box{
	float: left;
	width: 350px;
	margin-right: 50px;
}

.box {
	text-align: center;
	width: 285px;
	margin-right: 15px;
	box-sizing: border-box;
	padding: 50px 10px 15px;
}

.box p {
	text-align: center;
	font-size: 0.90em;
}

.box h3{
	text-align: center;
	font-size: 1.5em;
	color: rgb(15, 15, 15);
}

.box button{
	background-color: mediumaquamarine;
	text-decoration: uppercase;
	color: white;
	border: none;
	margin: 15px;
	padding: 15px;
}

main section {
	width: 210px;
	float: left;
	margin-right: 125px;
	border: 0px;
	box-sizing: border-box;
	padding: 80px 10px 15px;
	text-align: center;
}

main section h4{
	color: rgb(80, 80, 80);

}

main section p{
	color: rgb(80, 80, 80);

}

main section button{
	background-color: mediumaquamarine;
	text-decoration: uppercase;
	color: white;
	border: none;
	margin: 15px;
	padding: 15px;

}


main img {
	width: inherit;
	height: 158px;
	padding-right: 78px;
}


.principal{
	padding-left: 4px;
}